/*These styles apply to every element on the page*/
*::before, *::after {
    box-sizing: border-box; /* Border-bos include padding and border in the width and height so elements don't become larger than expected when you add padding*/
    margin:0; /* remove default margin that browsers add to elements */
    padding:0; /* same as margin */
}

html{scroll-behavior: smooth;} /* Makes the page scrolling smooth such as when clicking a menu link*/


/* font style*/
body {
    font-family: "Orbitron", sans-serif; /* The main font and only font*/
    background-color: #000000; /* Black Backround for the entire page */
    color: #fff;  /* White text color to contrast with the black backround*/
    line-height: 1.6em; /* Line height makes the text readable by increasing the vertical space between lines 1.6em means 1.6 times the font size*/
}


a{
    text-decoration: none; /* This removes the underline from the link*/
    color: inherit; 
}

ul{
    list-style: none; /* This removes the bullet points from lists*/
}


/* TOP NAVIGATION SECTION*/
.top_nav{
    display: flex; /* Flexbox gives flexible arrangement of the items that is in a row*/
  align-items: center; /* Centers items vertically in the middle of the navbar*/
  justify-content: space-between; /* Spreads item apart like logo on the left and links on the right*/
  background-color: #000; /* dark backround to match the page backround*/
  padding: 10px 24px; /* spacing for the navbar*/
  border-bottom: 1px solid #222;/* subtle border at the bottom so seperate the navbar from the content*/
  position: sticky;   /* I used sticky to keep the navbar at the top when scrolling down*/
  top: 0;
  z-index: 100;   /* I used z-index to make the navbar to be always on top of other elements. 100 is high enough to stay on top*/
}

/* Left side of the NAVBAR (Logo and the icon) */
.top_navleft {
  display: flex; /* flexbox for horizontal placement for the logo and icon*/
  align-items: center; /* Vertically center the item*/
  gap: 14px;/* Space between the logo and icon*/
}
/* Logo Styling*/
.BigPlaneterium {
  background: none;/* removes the default styling since i made it a button*/
  border: none;
  color: #fff; /* White text for the visibility on a black backround*/
  font-size: 22px;/* font size*/
  font-weight: bold;/* Makes the text bold*/
  cursor: pointer; /* changes the cursor to pointer to indicate it is clickible*/
  display: flex;/* flexbox to align icon and text horizontal*/
  align-items: center; 
  gap: 6px; /* space between icon and text*/
  font-family: "Orbitron", sans-serif; /* font */
}

.BigPlaneterium:hover {
  color: #4da6ff;    /* turns blue on hover when you hobver on the logo*/
}

/* logo icon size*/
.BigP_icon {
  font-size: 20px;
}

/* SUB NAV SECTION*/
.sub-nav {
 background-color: #111; /* Slightly lighter backround than main navbar*/
 border-bottom: 1px solid #222;/* Border at bottom to separate from main content*/
 padding:0 24px;/* spacing around the sub nav items*/
}
/* Sub nav list container*/
.sub_navlist {
 display: flex;/* arrange sub-nav items horizontal*/
 align-items: center;/* center items vertically*/
 gap: 0px;/* no gap means theres no gap on each content*/
 /* reset the default margin and padding*/
 margin: 0;
 padding:0;
}
/* Sub nav link*/
.sub-navlink {
  display: block; 
  padding:14px 22px;
  font-size: 15px;
  font-weight: 500;
  color: #ccc;
  white-space: nowrap;
  border-bottom: 3px solid transparent;
  transition: color 0.2s, border-bottom-color 0.2s; /* The border starts invisible but becomes blue when hover creating a underline effect*/
  margin:0;
}

.sub-navlink:hover {
  color: #fff;
  border-bottom-color: #4da6ff; /* Blue underline appears when you hover*/
}
.sub-nav_link-active {
  color: #fff;
  border-bottom-color: #4da6ff;
}


/* Landing page section*/

/*this is the landing page of the website its a full screen with planets floating (using keyframes) in the backround*/ 
.main {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
  display:flex;
  align-items: center;
}

.planets{
   position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 

}

/* PLANET POSITIONING*/
/* Positioning of all the planets, each planets has different sizing and and is placed in different spot to fill the space nicely*/
.planet{
  position:absolute;
  border-radius: 50%; /* This makes it round so it wont be squared since i used photos*/
  object-fit: cover;
}

.planet-mercury{
  width: 280px;
  height: 280px;
  top: -60px;
  left: -60px;
  opacity: 0.7;
}

.planet-venus{
   width: 320px;
  height: 320px;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);  
}

.planet-earth{
 width: 350px;
  height: 350px;
  top: -80px;
  right: -60px;
}

.planet-jupiter {
  width: 380px;
  height: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -55%);
}

.planet-saturn {
  width: 500px;
  height: 280px;
  border-radius: 50;;
  object-fit: cover;
  top:30%;
  right: -40px;
}

.planet-uranus {
  width: 220px;
  height: 220px;
  bottom: -60px;
  left: 30%;
}

.planet-neptune {
  width: 200px;
  height: 200px;
  bottom: -40px;
  left: 5%;
  opacity: 0.8;
}

.planet-pluto {
  width: 180px;
  height: 180px;
  bottom: -50px;
  right: 10%;
  opacity: 0.75;
}
/* Main Content On hero*/
/* Primary content container layered above the background planets. Z-index ensures the text and interactive elements 
remain visible to users*/
.main_content {
  position: relative;  
  z-index: 10;
  max-width: 600px;
  padding: 80px 60px;
}

.title {
  font-size: clamp(45px, 4vw, 70px);  
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 24px;
}


.container {
   width: 300px;
  border: 15px solid rgba(128, 0, 98, 0);
  padding: 50px;
  margin: 20px
}


/* WHAT IS A PLANET SECTION */
.what-is-planet {
 background-color: #000;
 padding:100px 60px;
 color: #fff;
}

.what-container {
  display:flex;
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.what-image {
  flex: 1;
  min-width: 300px;
}

.what-image-planet{
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.what-content {
  flex: 1;
  min-width: 300px;
}

.what-title {
  font-size: clamp(42px, 5vw, 58px);
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 1.1;
}

.what-text {
  font-size: 18px;
  line-height: 1.7;
  color: #ddd;
}

.what-text p {
  margin-bottom: 20px;
}

.what-text strong {
  color: #4da6ff;
}

/* BUTTON STYLE*/
/* The main button on the page. It has a blue border and glows when you hover over it there's also a shine effect that slides across when you hover*/
.button {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 32px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #4da6ff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(77, 166, 255, 0.2);
  z-index: 1;
}

.button {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 32px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #4da6ff; 
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(77, 166, 255, 0.2);
  z-index: 1;
}


.button::before {
content: '';
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(90deg, transparent, rgba(77, 166, 255, 0.4), transparent);
transition: all 0.5s;
z-index: -1;
}

.button:hover {
color: #fff;
box-shadow: 0 0 25px rgba(77, 166, 255, 0.6); /* Glow gets brigher*/
transform: translateY(-2px); /* Button moves up slightly*/
text-shadow: 0 0 8px #fff;
}

.button:hover::before {
left: 100%; /* The shine sides across the button*/
}

.button:active {
transform: translateY(1px); /* Button moves down when clicked*/
box-shadow: 0 0 10px rgba(77, 166, 255, 0.4);
}



/* A section with a slider showing different planets. you can click arrows to see the next planet */
.section-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:  60px;
}


.section-title{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.planets-scroll-section {
    background-color: #000;
    padding: 100px 0 80px;
}

/* Slider wrapper*/
/* This is like a window that shows only one slide at a time. The slides hide outside this area*/
.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.6s ease; /* Smoothen the slides when going to the next planet*/
}

.slide {
    min-width: 100%; /* Each slide takes up the full width*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 0 80px;
    box-sizing: border-box;
}

/* Slide Content*/
/* The text on the left side of each slide with planet name, type and description*/
.slide-text {
    flex: 1;
    max-width: 520px;
}

.slide-number {
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #4da6ff;
    margin-bottom: 16px;
}

.slide-name {
    font-size: clamp(42px, 5vw, 64px);
    font-weight: 900;
    color: #fff;
    margin-bottom: 8px;
}

.slide-type {
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4da6ff;
    margin-bottom: 24px;
}

.slide-desc {
    font-size: 16px;
    line-height: 1.75;
    color: #bbb;
    margin-bottom: 36px;
}

/* Slide Statistics*/
/* Shows facts about the planet like diameter, distance from sun and so on*/
.slide-stats {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slide-stats li {
    display: flex;
    justify-content: space-between;
}

.stat-label {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
}

.stat-value {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

/* Slide Image*/
/* The planet image on the right side of each slide. It gently floats up and down */
.slide-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
    animation: float 6s ease-in-out infinite; /* Gives the image a subtle Float*/
}

@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-18px); }
    100% { transform: translateY(0px); }
}
/* Slide Controls*/
/* Arrow buttons and dots row */
.slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 56px;
}


.arrow-btn {
    font-family: "Orbitron", sans-serif;
    background: transparent;
    border: 1px solid rgba(77, 166, 255, 0.4);
    color: #fff;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow-btn:hover {
    border-color: #4da6ff;
    color: #4da6ff;
    box-shadow: 0 0 20px rgba(77, 166, 255, 0.4);
}

/* Dot indication*/
/* the small dots below the slide. This acts as a indicator of which content you are in of the slider */
.dots {
    display: flex;
    gap: 10px;
    align-items: center;
}


.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.dot.active {
    background: #4da6ff;
    width: 24px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(77, 166, 255, 0.6);
}

/* INFO SLIDER SECTION*/
  /* Another slider section, similar to the previous one*/
.info-slider-section {
    background-color: #000;
    position: relative;
}

.info-track-wrapper {
    overflow: hidden;
    width: 100%;
}

.info-track {
    display: flex;
    transition: transform 0.6s ease;
}

.info-slide {
    min-width: 100%;
    box-sizing: border-box;
}

/*Slider Arrows*/
/* Left and right arrow buttons on the side of the sldier*/
#infoPrev {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-family: "Orbitron", sans-serif;
    background: transparent;
    border: 1px solid rgba(77, 166, 255, 0.4);
    color: #fff;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


#infoNext {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-family: "Orbitron", sans-serif;
    background: transparent;
    border: 1px solid rgba(77, 166, 255, 0.4);
    color: #fff;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#infoPrev:hover,
#infoNext:hover {
    border-color: #4da6ff;
    color: #4da6ff;
    box-shadow: 0 0 20px rgba(77, 166, 255, 0.4);
}

/* info dots of the slider*/
/* dots below the info slider showing which slide you are on*/
.info-controls {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
}

.info-dots {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.info-dot.active {
    background: #4da6ff;
    width: 24px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(77, 166, 255, 0.6);
}
/* Footer section*/
/* The bottom section of the page with the name of my website */
footer {
    border-top: 1px solid #222;
    padding: 32px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-brand {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
}



.reveal {
    opacity: 0;
    transform: translateY(36px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.reveal.visible {
    opacity: 1;
    transform: none;
}


@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-18px); }
  100% { transform: translateY(0px); }
}



/* Planet Floating animations*/
/* All the planets has a subtle float up and down in the backround
each planet has a different timing so they don't all move at the same time*/

.planet-mercury { animation: float 7s ease-in-out infinite; animation-delay: 0s; }
.planet-venus   { animation: float 9s ease-in-out infinite; animation-delay: 1s; }
.planet-earth   { animation: float 8s ease-in-out infinite; animation-delay: 2s; }
.planet-jupiter { animation: float 10s ease-in-out infinite; animation-delay: 0.5s; }
.planet-saturn  { animation: float 11s ease-in-out infinite; animation-delay: 1.5s; }
.planet-uranus  { animation: float 8s ease-in-out infinite; animation-delay: 3s; }
.planet-neptune { animation: float 9s ease-in-out infinite; animation-delay: 2.5s; }
.planet-pluto   { animation: float 7s ease-in-out infinite; animation-delay: 4s; }


.planet-saturn {
  animation: floatSaturn 11s ease-in-out infinite;
  animation-delay: 1.5s;
}

@keyframes floatSaturn {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-18px); }
  100% { transform: translateY(0px); }
}


.planet-venus {
  animation: floatVenus 9s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes floatVenus {
  0%   { transform: translateX(-50%) translateY(0px); }
  50%  { transform: translateX(-50%) translateY(-18px); }
  100% { transform: translateX(-50%) translateY(0px); }
}

.planet-jupiter {
  animation: floatJupiter 10s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes floatJupiter {
  0%   { transform: translate(-20%, -55%) translateY(0px); }
  50%  { transform: translate(-20%, -55%) translateY(-18px); }
  100% { transform: translate(-20%, -55%) translateY(0px); }
}

